<h1>Tasks#edit</h1>
<h1>Edit a post you must?</h1>
<article>

  <%=form_for @tasks, url: update_path, method: :put do |t| %>
    <%= t.label :title %>
    <%= t.text_field :title %>

    <%= t.label :description %>
    <%= t.text_field :description %>

    <%= t.label :completed_at %>
    <%= t.text_field :completed_at %>
    <%= t.hidden_field :id %>

    <%= t.label :status  %>
    <%#the first: value, showing form?  %>
    <%= t.select :status, [["complete", "complete"],["on going", "on_going"]] %>



    <!-- #<select name="@tasks[status]" id="task_status">
      <option value="complete">Complete</option>
      <option value="on_going">On Going</option>
    </select> -->

    <%= t.submit "Edit Task" %>
  <% end %>

  <%= button_to "delete", delete_path(@tasks), {:method => :delete } %>
  <%= button_to "edit", edit_path(@tasks), {:method => :get}  %>

</article>
