<h1>Tasks#edit</h1>
<h1>Edit a post you must?</h1>
<article>

  <%=form_for @task, url: {controller: 'edit', action: "create"} do |t| %>
    <%= t.label :title %>
    <%= t.text_field :title %>

    <%= t.label :description %>
    <%= t.text_field :description %>

    <%= t.label :completed_at %>
    <%= t.text_field :completed_at %>

    <%= t.submit "Edit Task" %>
  <% end %>

  <%= button_to "delete", delete_path(@mytask), {:method => :delete } %>
  <%= button_to "edit", edit_path(@mytask), {:method => :get}  %>

</article>
