<h1>Welcome to your TASKS</h1>
<% @tasks.each do |task| %>
<article>
  <ul>
    <li><%=link_to(task[:title], show_path(task[:id])) %></li>
     <% if task[:status] == "complete"  %>
     <%= "✅" %>
     <% else  %>
    <li><%=button_to "done? ✏️", complete_path(task[:id]), method: :patch %></li>
    <% end %>
  </ul>
</article>
<% end %>



<% if @user %>
<h1>Welcome <%= @user.name %></h1>
<%# <!-- <p><%=image_tag @user.avatar %></p>
<% else %>


<!-- <h1>Please Log in</h1> -->
<% end %>

<% if flash[:notice] %>
  <p class="flash-notice"><%=flash[:notice]%></p>

<%end%>

<% if session[:user_id] %>
  <%=link_to "Log Out of Github", logout_path %>
<% else %>

  <%= link_to "Log in via Github", "/auth/github" %>

  <% end %>
