<h1>Enter your newest task, friend!!</h1>
<%=form_for @task, url: {action: 'create'},html: {class:"nifty-form"} do |t| %>
<%= t.label :title %>
<%= t.text_field :title %>
<%= t.label :description %>
<%= t.text_field :description %>
<%= t.label :completed_at %>
<%= t.text_field :completed_at %>
<%= t.submit "Add Task" %>
<% end %>


<!-- # Testing out some logic about 
<%= f.label :expertise %> <br>
<%= f.text_field :expertise  %>
<%=label_tag 'expertise physics'  %> -->
